<h1>about me!</h1>
<table>
<tr><td>name</td><td>海磯　実希 (kaiso miki)</td></tr>
<tr><td>birthday</td><td>６月２３日</td></tr>
<tr><td>house</td><td>西富井駅の近く</td></tr>
</table>
<h4>my favorite</h4>
<table>
<tr><td>food</td><td>抹茶/オムライス</td></tr>
<tr><td>hobby</td><td>吹奏楽/お絵かき</td></tr>
</table>